# Framework web para apps interativos
streamlit>=1.20.0,<2.0.0

# Biblioteca para manipulação de arquivos DICOM
pydicom>=2.3.0,<3.0.0

# Manipulação numérica e científica
numpy>=1.23.0,<2.0.0
scipy>=1.9.0,<2.0.0
pandas>=1.5.0,<2.0.0

# Processamento e análise de imagens
Pillow>=9.3.0,<10.0.0
opencv-contrib-python-headless>=4.7.0.72,<5.0.0
scikit-image>=0.19.3,<1.0.0

# Visualização e gráficos interativos
matplotlib>=3.6.0,<4.0.0
plotly>=5.10.0,<6.0.0

# Geração de PDFs
reportlab>=3.6.12,<4.0.0
